<h1>Listing patients</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Middle name</th>
    <th>Last name</th>
    <th>Address 1</th>
    <th>Address 2</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Phone</th>
    <th>Contact</th>
    <th>Number of visits</th>
  </tr>

<% @patients.each do |patient| %>
  <tr>
    <td><%=h patient.first_name %></td>
    <td><%=h patient.middle_name %></td>
    <td><%=h patient.last_name %></td>
    <td><%=h patient.address_1 %></td>
    <td><%=h patient.address_2 %></td>
    <td><%=h patient.city %></td>
    <td><%=h patient.state %></td>
    <td><%=h patient.zip %></td>
    <td><%=h patient.phone %></td>
    <td><%=h patient.contact%></td>
    <td><center><%=h patient.number_of_visits %></center></td>
    <td><%= link_to 'Show', patient %></td>
    <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
    <td><%= link_to 'Destroy', patient, :confirm => 'Are you sure? Remember, if this Patient is assigned to a Visit, it cannot be destroyed.', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New patient', new_patient_path %><br/>
<%= link_to 'View All Visits', visits_path%><br/>
<%= link_to 'View All Therapists', therapists_path%><br/>
<%= link_to 'View All Sites', sites_path%><br/>
<%= link_to 'View All Authorization Periods', authorization_periods_path%>
